<div>
  <div>Escoge tu maniobra para este turno.</div>
  <br/>
  <h2>Maniobras básicas</h2>
  {{> choiceTable basicManeuver}}
  <h2>Maniobras avanzadas</h2>
  {{> choiceTable advancedManeuver}}
</div>
