  <style>
    .grid-container-gurps-helper {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      padding: 10px;
    }

    .grid-container-gurps-helper .grid-item {
      text-align: center;
    }
  </style>
<div class="grid-container-gurps-helper">
  <div class="grid-item" class="clickable" id="globalAttack"><img  src="moulinette/images/gameicons/sword-brandish.svg" alt="Ataque"></div>
  <div class="grid-item" class="clickable" id="globalMove"><img  src="moulinette/images/gameicons/move.svg" alt="Move"></div>
  <div class="grid-item" class="clickable" id="globalConcentrate"><img  src="moulinette/images/gameicons/brain.svg" alt="Concentrarse"></div>
  <div class="grid-item" class="clickable" id="globalWait"><img  src="moulinette/images/gameicons/backward-time.svg" alt="Esperar"></div>
  <div class="grid-item" class="clickable" id="globalChangePosture"><img src="moulinette/images/gameicons/body-balance.svg" alt="Cambiar postura"></div>
  <div class="grid-item" class="clickable" id="globalDoNothing"><img  src="moulinette/images/gameicons/nothing-to-say.svg" alt="No hacer nada"></div>
</div>
