<div>'
  <div>Escoge ataque (tienes que tener seleccionado un objetivo)</div>

  <div><input type="checkbox" id="keepOpen" {{#if data.keepOpen}}checked{{/if}}><label for="keepOpen">keep window open after attack</label></div>
  {{#if counterAttack.items.length}}
    <h2>Contraataque</h2>
    <p>Un contraataque exitoso penalizará la parada del contrincante en -2</p>
    {{> choiceTable counterAttack}}
  {{/if}}
  <h2>Melee</h2>
  {{> choiceTable melee}}
  <h2>Ranged</h2>
  {{> choiceTable ranged}}
</div>
